<div class="container">


  <div class="regis-text">Sign-Up</div>
  <img class="png-image" src="images/cv.png">

  <input type="email" [(ngModel)]="gmail" class="text-mail" placeholder="G-mail">
  <input type="password" [(ngModel)]="password" class="text-pass" placeholder="Password" autocomplete="off">
  <input type="password" [(ngModel)]="comfirmPass" class="text-pass-con" placeholder="Confirm Password"
    autocomplete="off">
  <button (click)="savePass()" class="regis-btn">Sign-Up</button>
  <a class="already-have-account" href="/login-box">Already have an account?</a>
</div>

 <div *ngIf="showError" class="alert alert-danger">{{ showError }}</div>
  <div *ngIf="showSuccess" class="alert alert-success">Sign-Up successfully!</div>

<style>
  * {
    box-sizing: border-box;
  }

   .alert-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  min-width: 300px;
  font-size: 16px;
  font-weight: bold;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
}

.alert-success {
  /* background-color: #ffe0f5; */
  color: #a87a99;
  font-weight:normal;
  /* border: 1px solid #C599B6; */
}

.alert-danger {
  /* background-color: #f8d7da; */
  color: #721c24;
  font-weight:normal;
  /* border: 1px solid #f5c6cb; */
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    height: auto;
    background-color: #FAD0C4;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    padding: 15px;
    gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .regis-text {
    font-size: 35px;
    text-align: center;
    color: #FFF7F3;
    font-weight: lighter;
    margin-bottom: 5px;
    /* Reduce space below */
    /* background-color: red; */
    /* padding: -17px;
  margin: -17px; */

  }

  .png-image {
    width: 120px;
    /* Adjust size */
    height: auto;
    padding: 0px;
    /* Remove extra padding */
    margin-top: -5px;
    /* Move it closer */
  }

  .text-mail,
  .text-pass,
  .text-pass-con {
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #FFF7F3;
    /* Set background color */
    text-align: left;
    border-radius: 20px;
    font-size: 20px;
    color: #C599B6;
    /* Set text color */
    font-weight: lighter;
    border: none;
  }

  .text-mail:focus,
  .text-pass:focus,
  .text-pass-con:focus {
    border: 2px solid #C599B6;
    /* Change border color on focus */
    outline: none;
    /* Remove default outline */
  }

  .regis-btn {
    width: 100%;
    height: 60px;
    background-color: #C599B6;
    color: #FFF7F3;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .regis-btn:hover {
    background-color: #9e6d7a;
    /* Darker shade on hover */
  }

  .already-have-account {
    color: #FFF7F3;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    /* padding: -30px;
  margin: -30px; */
  }


  .already-have-account:hover {
    text-decoration: underline;
    /* Add an underline effect when hovered */

  }

  .error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
</style>
